In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008
1182,tt1951264,130000000,847423452,The Hunger Games: Catching Fire,Jennifer Lawrence|Josh Hutcherson|Liam Hemswor...,Francis Lawrence,Every revolution begins with a spark.,Katniss Everdeen has returned home safe after ...,146,Science Fiction|Thriller|Action|Adventure,Lionsgate|Color Force,11/15/2013,7.4,2013
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013
284,tt1078940,70000000,171844840,Couples Retreat,Vince Vaughn|Malin Ã…kerman|Jason Bateman|Kris...,Peter Billingsley,It may be paradise... but it's no vacation.,"Four couples, all friends, descend on a tropic...",113,Comedy|Romance,Universal Pictures|Wild West Picture Show Prod...,9/19/2009,5.3,2009
1393,tt0391304,30000000,42886719,A Lot Like Love,Ashton Kutcher|Amanda Peet|Aimee Garcia|Taryn ...,Nigel Cole,There's nothing better than a great romance......,"On a flight from Los Angeles to New York, Oliv...",107,Comedy,Mile High Productions|Kevin Messick Production...,4/22/2005,6.5,2005

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data.loc[:,'profit'] = data.revenue - data.budget #создадим колонку профит

def prepare2xplode (str2split): #мини-функция для метода xplode
    if str2split.find('|') > -1: 
        res = str2split.split("|")
        return res
    else: return str2split
#_________________

#data.genres = data.genres.apply(prepare2xplode)
#data.director= data.director.apply(prepare2xplode)
#data.cast = data.cast.apply(prepare2xplode)
#_________________

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data.loc[data.budget == data.budget.max()].original_title
answers['1']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data.loc[data.runtime == data.runtime.max()].original_title
answers['2']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = data.loc[data.runtime == data.runtime.min()].original_title
answers['3']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [9]:
answers['4']=data.runtime.mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [10]:
answers['5']=data.runtime.median()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [11]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6']=data.loc[data.profit==data.profit.max()].original_title
answers['6']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [12]:
answers['7']=data.loc[data.profit == data.profit.min()].original_title
answers['7']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [13]:
df2 = data[data.revenue>data.budget].copy()
answers['8']=len(df2)
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [14]:
df2 = data[data.release_year == 2008].copy()
answers['9'] = df2.loc[df2.revenue==df2.revenue.max()].original_title
answers['9']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [15]:
df2 = data[(data.release_year >= 2012) & (data.release_year <= 2014)].copy()
answers['10'] = df2.loc[df2.profit == df2.profit.min()].original_title
answers['10']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [16]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

gendf = data.copy()
gendf.genres = gendf.genres.apply(prepare2xplode)
gendf = gendf.explode('genres')
answers['11'] = gendf.genres.value_counts().nlargest(1)
answers['11']

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [17]:
profitgenre = 0
profitgenreMax = 0
genreMax = 'lol'
df2 = data[data.profit > 0]
df2 = df2[['genres','profit']]


df2.genres = df2.genres.apply(prepare2xplode)
df2 = df2.explode('genres')

genresarray = df2.genres.value_counts().keys()

for eachgenre in genresarray:
    profitgenre = df2[df2.genres == eachgenre].profit.count()
    if profitgenreMax < profitgenre:
        profitgenreMax = profitgenre
        genreMax = eachgenre
        
answers['12'] = genreMax
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [18]:
revsumm = 0
maxsumm = 0
maxdir = 'lol'

df2 = data[['director','revenue']]
df2.director = df2.director.apply(prepare2xplode)
df2 = df2.explode('director')
directorsarray = df2.director.value_counts().keys()

for eachdirector in directorsarray :
    revsumm = df2[df2.director == eachdirector].revenue.sum()
    if maxsumm < revsumm :
        maxsumm = revsumm
        maxdir = eachdirector

print(maxsumm, maxdir)
answers['13'] = maxdir

/Users/agalypirkuliev/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

6490593685 Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [19]:
actsumm = 0
maxact = 0 #счетчик макс кол-ва Экшн
maxdir = "lol" # Имя режиссера
df2 = data[['genres','director']]

df2.genres = df2.genres.apply(prepare2xplode)
df2 = df2.explode('genres')
df2.director = df2.director.apply(prepare2xplode)
df2 = df2.explode('director')

directorsarray = df2.director.value_counts().keys()
for eachdirector in directorsarray :
    actsumm = len(df2[(df2.director == eachdirector) & (df2.genres == 'Action')])
    if maxact < actsumm:
        maxact = actsumm
        maxdir = eachdirector


print(maxact, maxdir)
answers['14'] = maxdir

9 Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [20]:
maxrevenue = 0
revenue = 0
actormax = 'lol'

#df2 = data[data.release_year == 2012]
df2 = data[['cast','revenue','release_year']]
df2.cast = df2.cast.apply(prepare2xplode)
df2 = df2.explode('cast')
actorsarray = df2.cast.unique()
for actor in actorsarray:
    revenue = df2[(df2.cast == actor) & (df2.release_year==2012)].revenue.sum()
    if revenue > maxrevenue :
        maxrevenue = revenue
        actormax = actor
        
print(actormax)
answers['15'] = actormax

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [21]:
maxfilmcount = 0
filmcount = 0
maxactor = 'lol'

df2 = data[data.budget>data.budget.mean()].copy()
df2.cast = df2.cast.apply(prepare2xplode)
df2 = df2.explode('cast')

actorsarr = df2.cast.value_counts().keys()

for actors in actorsarr:
    filmcount = len(df2[df2.cast == actors].original_title)
    if filmcount > maxfilmcount:
        maxfilmcount = filmcount
        maxactor= actors

print(maxactor)
answers['16'] = maxactor

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [22]:
df2 = data[['cast','genres']]
df2.cast = df2.cast.apply(prepare2xplode)
df2 = df2.explode('cast')
df2 = df2[df2.cast=='Nicolas Cage']

df2.genres = df2.genres.apply(prepare2xplode)

df2 = df2.explode('cast')
df2 = df2.explode('genres')

answers['17'] = df2.genres.value_counts().keys()[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [23]:
df2 = data[data.profit<0]
df2.production_companies = df2.production_companies.apply(prepare2xplode)
df2 = df2.explode('production_companies')
df2 = df2[(df2.production_companies == 'Paramount Pictures')]
ubytok = df2.profit.min()
answers['18'] = df2[df2.profit == ubytok].original_title
answers['18']
#df2[(df2.production_companies == 'Paramount Pictures')& (df2.profit== df2.profit.min())].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [24]:
maxsumm = 0
tsum = 0
bestyear = 'lol'
yearsarray = data.release_year.unique()
for year in yearsarray:
    tsum = data[data.release_year == year].revenue.sum()
    if tsum > maxsumm:
        maxsumm = tsum
        bestyear = year

answers['19'] = bestyear
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [25]:
#data = pd.read_csv('movie_bd_v5.csv')
#data.loc[:,'profit'] = data.revenue - data.budget #создадим колонку профит

maxsumm = 0
tsum = 0
bestyear = 'lol'

df2 = data[['production_companies','profit','release_date']]

df2.production_companies = df2.production_companies.apply(prepare2xplode)
df2 = df2.explode('production_companies')
df2 = df2[(df2.production_companies.str.contains('Warner Bros'))]
df2.release_date = df2.release_date.str[-4:]

yearsarray = df2.release_date.value_counts()
for year in yearsarray.keys():
    tsum = df2[df2.release_date == year].profit.sum()
    if tsum > maxsumm:
        maxsumm = tsum
        bestyear = year
print(bestyear,maxsumm)
answers['20'] = bestyear
answers['20']

2014 2292949646

'2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [26]:
montharray = Counter(data.release_date.apply(lambda x:x[0:x.find('/')]))
answers['21'] = montharray.most_common(1)
answers['21']

[('9', 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [27]:
montharray = data.release_date.apply(lambda x:x[0:x.find('/')])
summer = montharray.value_counts()
summer = summer['6']+summer['7']+summer['8']
answers['22']=summer
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [28]:
maxsumm = 0
tsum = 0
bestyear = 'lol'
df1 = data[(data.release_date.str[:2] == '12')]
df2 = data[(data.release_date.str[:2] == '1/')]
df3 = data[(data.release_date.str[:2] == '2/')]
winterdf = pd.concat([df1,df2,df3])
winterdf.director = winterdf.director.apply(prepare2xplode)
winterdf = winterdf.explode('director')
winterdirector = winterdf.director.value_counts()

answers['23'] = winterdirector.keys()[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [29]:
maxlen = 0
titlelen = 0
production = 'lol'

df2 = data[['production_companies', 'original_title']]
df2.loc[:,'length'] = df2.original_title.str.len()
del df2['original_title']
#df2 = df2[df2.length>df2.length.mean()]
df2.production_companies = df2.production_companies.apply(prepare2xplode)
df2 = df2.explode('production_companies')
companiesarray = df2.production_companies.value_counts().keys()

for company in companiesarray:
    titlelen = df2[df2.production_companies==company].length.mean()
    if titlelen > maxlen:
        maxlen = titlelen
        production = company

        
answers['24'] = production
answers['24']

/Users/agalypirkuliev/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/agalypirkuliev/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [30]:
maxlen = 0
titlelen = 0
production = 'lol'

df2 = data[['production_companies','overview']]
df2.production_companies = df2.production_companies.apply(prepare2xplode)
df2.overview = df2.overview.apply(lambda x: x.count(" ")+1)
df2 = df2.explode('production_companies')

companiesarray = df2.production_companies.value_counts().keys()

for company in companiesarray:
    titlelen = df2[df2.production_companies==company].overview.mean()
    if titlelen > maxlen:
        maxlen = titlelen
        production = company

answers['25'] = production
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [31]:
df = data[['original_title','vote_average']]
onepercent = round(len(data)/100)

vcount = data.vote_average.value_counts()
ratesarray = vcount.keys().sort_values(ascending=False)
resultarray = []
for each in ratesarray:
    resultarray = resultarray + (df[df.vote_average == each].original_title.values.tolist())
    if len(resultarray) >= onepercent:break

display(resultarray[0:onepercent-1])  
answers['26'] = resultarray[1], resultarray[0], resultarray[12]
answers['26']

['The Dark Knight',
 'Inside Out',
 'Room',
 'Interstellar',
 'The Imitation Game',
 'Guardians of the Galaxy',
 'Gone Girl',
 'The Grand Budapest Hotel',
 'Inception',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'The Wolf of Wall Street',
 '12 Years a Slave',
 'Memento',
 'Spotlight',
 'Big Hero 6',
 'The Theory of Everything',
 'The Fault in Our Stars']

('Inside Out', 'The Dark Knight', '12 Years a Slave')

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [467]:
df = data[['imdb_id','cast']]

df.cast = df.cast.apply(prepare2xplode)
df = df.explode('cast')
actorsarray = df.cast.unique()
c=0
for actor in actorsarray:
    df.loc[df.cast==actor,'cast'] = (c)
    c +=1

display(df)

"""
df = df.explode('cast')
display(df)
actorsarray = df.cast.unique()

print(actorsarray)
for each in actorsarray:
    titlearray = {key = each, df[df.cast == each].imdb_id.values}
    coactor = df[df.original_title==titlearray].cast.unique()
    print(coactor)
    break
"""

        imdb_id  cast
0     tt0369610     0
0     tt0369610     1
0     tt0369610     2
0     tt0369610     3
0     tt0369610     4
...         ...   ...
1888  tt0163676  3401
1888  tt0163676  3402
1888  tt0163676  3403
1888  tt0163676  3404
1888  tt0163676  3405

[9438 rows x 2 columns]

"\ndf = df.explode('cast')\ndisplay(df)\nactorsarray = df.cast.unique()\n\nprint(actorsarray)\nfor each in actorsarray:\n    titlearray = {key = each, df[df.cast == each].imdb_id.values}\n    coactor = df[df.original_title==titlearray].cast.unique()\n    print(coactor)\n    break\n"

# Submission

In [32]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object,
 '2': 1157    Gods and Generals
 Name: original_title, dtype: object,
 '3': 768    Winnie the Pooh
 Name: original_title, dtype: object,
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 239    Avatar
 Name: original_title, dtype: object,
 '7': 1245    The Lone Ranger
 Name: original_title, dtype: object,
 '8': 1478,
 '9': 599    The Dark Knight
 Name: original_title, dtype: object,
 '10': 1245    The Lone Ranger
 Name: original_title, dtype: object,
 '11': Drama    782
 Name: genres, dtype: int64,
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 925    K-19: The Widowmaker
 Name: original_title, dtype: object,
 '19': 2015,
 '20': '2014',
 '21': [('9', 227)],
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ('Inside Out', 'The Dark Knight', '12 Years a Slave')}

In [33]:
# и убедиться что ни чего не пропустил)
len(answers)

26